<%- include(views+'includes/start.ejs') %>
    <%- include(views+'includes/head.ejs') %>
        <%- include(views+'includes/navigation.ejs') %>

            <main>
                <div class="products-section">                  
                    <div class="container">
                        <div class="section-header my-5">
                            <h2 class="text-center position-relative pb-3 mb-3  ">Products</h2>
                        </div>
                        <div class="row">
                            <div class="col-4 mb-3">
                                <div class="product-section overflow-hidden  shadow rounded-4 text-center">
                                    <div class="product-image">
                                        <img class="img-fluid" src="https://images5.alphacoders.com/132/1328421.png"  alt="">
                                    </div>
                                    <div class="product-detail py-4 ">
                                        <h2 class="my-2 fw-bold">5.00 $</h2>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, animi!</p>
                                    <div class="actions text-center">
                                        <button class="btn btn-outline-success ">Add to Cart</button>
                                        <button class="btn btn-outline-secondary ">Show</button>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 mb-3">
                                <div class="product-section overflow-hidden  shadow rounded-4 text-center">
                                    <div class="product-image">
                                        <img class="img-fluid" src="https://images5.alphacoders.com/132/1328421.png"  alt="">
                                    </div>
                                    <div class="product-detail py-4 ">
                                        <h2 class="my-2 fw-bold">5.00 $</h2>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, animi!</p>
                                    <div class="actions text-center">
                                        <button class="btn btn-outline-success ">Add to Cart</button>
                                        <button class="btn btn-outline-secondary ">Show</button>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 mb-3">
                                <div class="product-section overflow-hidden  shadow rounded-4 text-center">
                                    <div class="product-image">
                                        <img class="img-fluid" src="https://images5.alphacoders.com/132/1328421.png"  alt="">
                                    </div>
                                    <div class="product-detail py-4 ">
                                        <h2 class="my-2 fw-bold">5.00 $</h2>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, animi!</p>
                                    <div class="actions text-center">
                                        <button class="btn btn-outline-success ">Add to Cart</button>
                                        <button class="btn btn-outline-secondary ">Show</button>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 mb-3">
                                <div class="product-section overflow-hidden  shadow rounded-4 text-center">
                                    <div class="product-image">
                                        <img class="img-fluid" src="https://images5.alphacoders.com/132/1328421.png"  alt="">
                                    </div>
                                    <div class="product-detail py-4 ">
                                        <h2 class="my-2 fw-bold">5.00 $</h2>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, animi!</p>
                                    <div class="actions text-center">
                                        <button class="btn btn-outline-success ">Add to Cart</button>
                                        <button class="btn btn-outline-secondary ">Show</button>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </main>

    <%- include(views+'includes/script.ejs') %>
<%- include(views+'includes/end.ejs') %>