
<%- include(views+'includes/start.ejs') %>
    <%- include(views+'includes/head.ejs') %>
        <%- include(views+'includes/navigation.ejs') %>
        
        <main>
            <div class="bannersection">
                <div class="row">
                    <div class="p-5 col-md-6">
                        <img class="img-fluid" src="https://static.vecteezy.com/system/resources/previews/013/362/736/original/football-soccer-transparent-free-png.png" alt="">
                    </div>
                    <div class="col-md-6 my-auto">
                            <h1>FootBall</h1>
                            <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. At, itaque.</p>
                            <button class="btn btn-lg btn-outline-success">Get Started</button>
                            <button class="btn btn-lg btn-outline-primary">Learn More</button>
                    </div>
                </div>
            </div>


            <div class="about-section section">
                <div class="container">
                    <div class="section-header">
                        <h2 class="text-center position-relative pb-3 mb-3  ">About Us</h2>
                        <p class="my-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius qui neque,
                            necessitatibus iusto mollitia at consectetur nihil! Quidem ex, delectus ratione eum, eveniet
                            similique voluptates magnam ullam nisi provident ut iure quos! Amet optio debitis eos voluptatum
                            architecto, neque quod!</p>
                    </div>
    
                    <div class="row my-3 gx-5">
                        <div class="col-md-6">
                            <h3>Lorem ipsum dolor sit amet. Lorem, ipsum. Lorem, ipsum.</h3>
                            <img class="img-fluid rounded-4 my-3"
                                src="https://cdn.britannica.com/51/190751-050-147B93F7/soccer-ball-goal.jpg"
                                alt="">
                            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus labore
                                reiciendis inventore sit quaerat ducimus vero, omnis soluta delectus esse?</p>
                        </div>
                        <div class="col-md-6 d-flex flex-column">
                            <h3 class="">Lorem, ipsum.</h3>                     
                            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat ullam neque rerum vel id. Itaque laboriosam tempore culpa quia maxime.<br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod nam, magni consequuntur dolore </p>
                            <div class="position-relative mt-auto">
                                <img class="img-fluid rounded-4 opacity-75"
                                    src="https://icdn.football-espana.net/wp-content/uploads/2020/12/EovzAudXIAcrh-4.jpeg"
                                    alt="">
                                <a href="" class="btn btn-outline-light position-absolute top-50 start-50  "><i class="bi bi-play-circle"></i></a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        

    <%- include(views+'includes/script.ejs') %>
<%- include(views+'includes/end.ejs') %>